img{
    //width:100%;
    max-width:150px;
}
* {margin: 0; padding: 5;}
 
h1 {
  color: Orange;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.card {
  color: rgb(12, 11, 11);
}
 

