.Product {
    
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.Product-link {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;  
}

.Product-link:hover {
   background-color: white;
   color: rgb(4, 102, 119);
}

