.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.Nav-link {
    color: green;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 12px;
    text-decoration: none;
}

.Nav-link:hover {
    color: orange;
    text-decoration: underline;
}
#diaOnoche{
    position: absolute;
    right: 10px;
    top: 5px;
}